<div class="navbar-design">
  <nav class="navbar navbar-light bg-light">
   <a class="navbar-brand" href="/cocktails">
    <i class="fas fa-cocktail"></i>
    CocktailHour
  </a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn-pink-outline" type="submit">Search</button>
  </form>
</nav>
</div>
