<nav class="navbar-design">
  <a href="/cocktails">CocktailHour</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search cocktails..." aria-label="Search">
    <button class="btn-pink-outline-icon" type="submit"><i class="fa fa-search"></i></button>
  </form>
</nav>

