.btn-pink {
  text-decoration: none;
  background-color: #F97068;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  transition: 0.3s;
}

.btn-pink:hover {
  text-decoration: none;
  background-color: #D9625B;
  color: white;
}
