.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
}

.card {
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  border-radius: 6px;
  background: white;
}

.card img {
  height: 240px;
  object-fit: cover;
}

.card-description {
  padding: 24px;
  color: #303030;
}

.card-description h2 {
  font-size: 24px;
}

.card-title {
  display: flex;
  justify-content: space-between;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: #F5584E;
  opacity: 0;
  border-radius: 6px;
}
.card-link:hover {
  opacity: 0.6;
}

.card-big {
  display: flex;
}

.card-big img {
  width: 480px;
}
