.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
  padding: 32px 200px;
  margin-top: 400px;
}

.card {
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  border-radius: 6px;
  background: white;
}

.card img {
  height: 240px;
  object-fit: cover;
  border-radius: 6px 6px 0 0;
}

.card-description {
  padding: 24px;
}

.card-description h2 {
  color: #303030;
  font-size: 30px;
  letter-spacing: 1px;
}

.card-description p {
  color: #A9A9A9;
}

.card-title {
  display: flex;
  justify-content: space-between;
}

.card-title i {
  padding: 6px;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: #F5584E;
  opacity: 0;
  border-radius: 6px;
}
.card-link:hover {
  opacity: 0.2;
}

.card:hover .card-description h2 {
  color: white;
}

.card:hover .card-description i {
  color: white;
}

.card:hover .card-description p {
  color: white;
}

.card:hover {
  background: #F5584E;
}

.card-big {
  display: flex;
}

.card-big img {
  width: 400px;
  object-fit: cover;
}
