.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrapper {
  padding-bottom: 2.5rem;
}

.container-home {
  width: 1200px;
  margin: 0 auto;
  padding: 24px 24px;
}
.container-basic {
  width: 1200px;
  margin: 24px auto;
  padding: 24px 24px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
