.navbar-design {
  background: white;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
}

.navbar-design a {
  margin-left: 24px;
  text-decoration: none;
  color: #F5584E;
  padding: 16px 0;
}

.navbar-design form {
  margin-right: 24px;
  padding: 8px 0;
}

