// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.cocktail-content {
  margin: 0 24px;
}

.cocktail-content p {
  font-weight: lighter;
}

.cocktail-content-sections {
  margin: 24px 0;
}

.destroy_dose {
  color: #F5584E;
}
